/node_modules
npm-debug.log
.DS_Store
dist/css
dist/js
dist/assets
dist
storybook-static
coverage
coverage.json

cypress.*.json
cypress/screenshots
cypress/videos
cypress/downloads
cypress-coverage

.nyc_output
.nycrc.json
jest-coverage
reports

.next/
.next

.env
.env.local

.idea
.vscode
.project
.eslintcache
.npmrc
__pact__/logs
__pact__/pacts

/__percy__/target/


/test-results/
/playwright-report/
/playwright-traces/
/playwright/.cache/